{{#if user}}
  {{#link-to 'user' user.id}}{{user.name}}{{/link-to}}
{{else}}
  <span class="user-anonymous">
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      Anonymous 
    {{/if}}
  </span>
{{/if}}
