{{#if user.username}}
  {{#link-to 'user'}}{{user.username}}{{/link-to}}
{{else}}
  <span class="user-anonymous">
    {{#if yield}}
      {{yield}}
    {{else}}
      Anonymous
    {{/if}}
    </span>
{{/if}}
