<div class="panel panel-default">
  <div class="panel-body" data-test-news-comment-content>
    {{{comment.comment}}}
  </div>
  <div class="panel-footer">
    <div class="pull-left">
      <span data-test-news-comment-author>{{link-to-user comment.author}}</span>
    </div>
    <div class="pull-right">
      <span data-test-news-comment-creation-date-time>{{moment-format comment.createdOnDateTime 'MMMM D, YYYY'}}</span>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
