body {
  background-color: #85888a;
}

.wrapper {
  margin-top: 50px;
}

.wrapper>.container {
  margin-top: 70px;
  padding-bottom: 25px;
}

.user-anonymous {
  font-style: italic;
  color: gray;
}

.landing-picture {
  background-image: url('/assets/images/DSC_5058.jpg');
  background-size: cover;
  background-position: 70% 75%;
  height: 750px;
  padding: 0;
}

.welcome-text {
  padding-top: 120px;
}

.welcome-text>h1 {
  font-size: 50px;
  font-family: oswald, sans-serif;
  font-weight: 400;
  line-height: 72px;
  margin: 0;
  text-transform: capitalize;
}

.welcome-subtext {
  padding-top: 50px;
  font-size: 32px;
  font-family: oswald, sans-serif;
  font-weight: 400;
  line-height: 72px;
  margin: 0;
  text-transform: capitalize;
}

.page-header {
  margin: 70px 0 25px 25px;
}

.navbar-brand {
  padding: 7px 15px 7px 15px;
}

ul.navbar-nav li i.fa {
  /*margin: 0 20px 0 0px;*/
  padding-right: 20px;
}

.info-box {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1.5em;
}

.info-box .inner {
  padding: 1.25rem;
}

.info-box h6 {
  font-weight: bold;
}

.user-heading .background {
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.user-heading img.avatar {
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
}

.user-heading h6.username {
  margin-top: 5px;
}

ul.statistics {
  list-style: none;
  padding: 0;
}

li.statistics-item {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #d4dbe0;
}

li.statistics-item:last-child {
  border-right: 0;
}

.user-about ul, .user-nav-links ul {
  list-style: none;
  padding-left: 0;
}

.user-about ul>li, .user-nav-links ul>li {
  margin-bottom: 5px;
}

.geokret-heading {
  min-height: 260px;
}

.geokret-heading .background {
  width: : 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.geokret-heading img.avatar {
  max-width: 100px;
  /*margin-top: -70px;*/
  margin-bottom: 5px;
}

.geokret-heading .icon-bar {
  /*width: 24px;*/
  /*background-color: #aaa;*/
  float: left;
}

.geokret-heading .icon-bar-right {
  float: right;
}

/*.icon-bar a, .icon-bar span {
    display: block; /* Make the links appear below each other instead of side-by-side */

text-align: center;
/* Center-align text */

padding: 3px;
/* Add some padding */

transition: all 0.3s ease;
/* Add transition for hover effects */

/*color: white; /* White text color */

*/ font-size: 18px;
/* Increased font-size */

}

*/ .geokret-heading .icon-bar a:hover {
  background-color: #000;
  /* Add a hover color */
}

.geokret-heading .icon-bar a.active {
  /*background-color: #4CAF50; /* Add an active/current color */
  */
}

.geokret-heading .icon-bar i {
  color: #bebebe;
}

.geokret-heading .icon-bar button.active i {
  color: #000;
}

.geokret-heading .icon-bar i.fa-star.active {
  color: #ffb90f;
}

.geokret-heading .icon-bar i.fa-cloud.active {
  color: #cd0000;
}

.geokret-heading .icon-bar i.fa-eye.active {
  color: #4876ff;
}

.geokret-heading .icon-bar i.fa-briefcase.active {
  color: #8b4513;
}

.green {
  color: #4CAF50;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 321px;
}

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 321px;
  background-color: #f5f5f5;
}

.full {
  width: 100%;
}

.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

.footer {
  background: #EDEFF1;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}

.footer p {
  margin: 0;
}

.footer img {
  max-width: 100%;
}

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}

.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}

.footer a {
  color: #78828D
}

.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-bottom p.pull-left {
  padding-top: 6px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.need-help {
  margin-top: 10px;
}

.new-account {
  display: block;
  margin-top: 10px;
}

.leaflet-container {
  height: 400px;
}
