<div class="btn-group-vertical btn-block">
  <a class="btn btn-default" href="#" role="button">{{fa-icon "binoculars"}} Watch the GeoKret</a>
  <a class="btn btn-default" href="#" role="button">{{fa-icon "line-chart"}} Statistics</a>
  <a class="btn btn-default" href="#" role="button">{{fa-icon "envelope"}} Email the owner</a>
  <a class="btn btn-default" href="#" role="button">{{fa-icon "eye-slash"}} Report as missing</a>
</div>
