<div class="container">

  <ol class="breadcrumb">
    <li>
      {{#link-to "index"}}Home{{/link-to}}
    </li>
    <li>GeoKrety</li>
  </ol>

  {{#each (sort-by "createdOnDateTime:desc" model) as |geokret|}}
    {{geokret-list-item geokret=geokret}}
  {{/each}}

</div>
