<div class="container">

  <ol class="breadcrumb">
    <li>
      {{#link-to "index"}}Home{{/link-to}}
    </li>
    <li>News</li>
  </ol>

  {{#each (sort-by "createdOnDateTime:desc" model) as |a-news|}}
    {{news-show news=a-news}}
  {{/each}}

</div>
